.SideBarDiv{
    width: 25%;
    background-color: rgb(207, 207, 252);
    border: 3px solid rgb(167, 180, 255);;
    position: relative;
    margin: 1.2vmax;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.AllOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.AllOptions a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}
@media screen and (max-width:600px){
    .SideBarDiv{
        width: 92%;
        background-color: rgb(207, 207, 252);
        border: 3px solid rgb(167, 180, 255);;
        margin: 1.2vmax;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}