.CatagoryBox {
  width: fit-content;
  height: 4vmax;
  margin: 2vmax;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  padding: 12px;
  border: 1px solid black;
  height: fit-content;
  box-shadow: 1px grey;
}
/* .CatagoryBox:hover{
    background-color: rgb(141, 174, 236);
} */
@media screen and (max-width: 600px) {
  .CatagoryBox {
    width: fit-content;
    height: 6vmax;
    padding: 3vmax;
  }
}
